{% extends "base.html" %}

{% block style %}
        form {
            background: white;
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        }
        label {
            display: block;
            margin-bottom: 10px;
            color: #666;
        }
        input[type="text"],
        input[type="file"],
        textarea {
            width: calc(100% - 22px);
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #5c67f2;
            color: white;
            border: none;
            padding: 10px 20px;
            text-transform: uppercase;
            margin-top: 20px;
            cursor: pointer;
            width: 100%;
            border-radius: 4px;
        }
        button:hover {
            background-color: #4a54e1;
        }
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
{% endblock %}
{% block content %}
    <h1 style="text-align: center;">Ваш профиль</h1>
    <form action="/change-profile" method="post" enctype="multipart/form-data">
        <img src="{{ user.icon_url }}" alt="Аватарка">

        <label for="first_name">Имя</label>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">

        <label for="last_name">Фамилия</label>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">

        <label for="bio">Bio</label>
        <textarea id="bio" name="bio">{{ user.bio }}</textarea>

        <p>Join Date: {{ user.join_date.strftime('%Y-%m-%d') }}</p>
        <label for="icon">Загрузить новую аватарку</label>
        <input type="file" id="icon" name="icon">

        <button type="submit">Сохранить изменения</button>
    </form>
{% endblock %}
