{% extends "base.html" %}


{% block title %}After Registration{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Пользователи (Всего: {{ total }})</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Электронная почта</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
