<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMust-{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
    <style>{% block style %}{% endblock %}</style>

</head>
<style>
    .navbar-brand {
      font-family: 'Lobster', cursive;
      font-size: 40px;
    }
    .book-cover {
        width: 150px;
        height: 200px;
        object-fit: cover;
        margin-right: 20px;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">BookMust</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% block nav %} {% endblock %}
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">

                {% if and session['login'] %}
                    {% if session['role'] == 'Admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Просмотр таблиц</a>
                        </li>
                    {% endif %}
                    {% if session['role'] in ('Admin', 'Moderator') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/pool-add-book">Добавить книгу</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/search-and-add">Найти книгу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stats">Статистика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/collection">Моя коллекция</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/account">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% block content %} {% endblock %}
</html>
{% block script %} {% endblock %}
