{% extends "index.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ book.image_url }}" alt="Cover image of {{ book.title }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2>{{ book.title }}</h2>
                <p><strong>Author:</strong> {{ book.authors }}</p>
                <p><strong>Description:</strong> {{ book.description }}</p>
                <p><strong>Publisher:</strong> {{ book.publisher_name }}</p>
                <p><strong>Year of Publication:</strong> {{ book.date }}</p>
            </div>
        </div>

        <form action="/detailed-description" method="post">
            <div class="form-group">
                <input type="hidden" class="form-control" name="user_edition_id" value="{{ book.user_edition_id }}">
            </div>
            <div class="form-group">
                <label for="reading_status">Reading Status:</label>
                <select class="form-control" id="reading_status" name="reading_status">
                    <option value=''></option>
                    {% for i in book.statuses %}
                    <option value={{ i }} {% if book.user_status ==  i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="page_number">Current Page (enter positive number):</label>
                <input type="number" class="form-control" id="page_number" name="page_number" min="1" placeholder="Enter page number">
            </div>
            <div class="form-group">
                <label for="rating">Rating:</label>
                <select class="form-control" id="reading_status" name="rating">
                    <option value=''></option>
                    {% for i in range(1, 6) %}
                    <option value={{ i }} {% if book.user_rating ==  i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea class="form-control" id="review" name="review" placeholder="Write your review here">{% if book.user_review %}{{ book.user_review }}{% endif %}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить подробности и перейти в коллекцию</button>
        </form>
    </div>
{% endblock %}