{% extends "base.html" %}

{% block style %}
    .books-container {
{#        width: 60%;#}
        margin: 0 left;
        display: flex;
        flex-direction: column;
    }

    .book-container {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 70%;
        margin: 20px auto;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        box-sizing: border-box;
    }

    .book-cover-container {
        flex: 0 0 auto;
        width: 150px;
        height: 200px;
    }

    .book-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .book-details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-container {
        text-align: center;
    }

    .chart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 600px;
        margin: 0 auto;
    }
{% endblock %}
{% block content %}
    <div class="books-container">
        <h1 align="center">Сравнение ваших отзывов с отзывами других пользователей</h1>
        {% for book in books %}
            <div class="book-container">
                <div class="book-cover-container">
                    <img src="{{ book.cover }}" alt="обложка {{ book.title }}" class="book-cover" title="Publisher: {{ book.publisher_name }}, Language: {{ book.language }}, Date: {{ book.date }}">
                </div>
                <div class="book-details">
                    <div class="text-container">
                        <h2>{{ book.title }}</h2>
                        <p>Publisher: {{ book.publisher_name }}, Date: {{ book.date }}, Language: {{ book.language }}</p>
                    </div>
                    <div class="chart-container">
                        <canvas id="chart{{ loop.index }}"></canvas>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
<script>
    const books = {{ books | tojson }};
    books.forEach((book, index) => {
        const ctx = document.getElementById('chart' + (index + 1)).getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Ваша оценка', 'Средний рейтинг'],
                datasets: [{
                    label: book.title,
                    data: [book.user_rating, book.book_rating],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        min: 0,
                        max: 5
                    }
                }
            }
        });
    });
</script>
{% endblock %}
